.pigDiceGame {
  display: none;
}

.playerHeader {
  font-size: 32px;
}

.btn-primary, .btn-default {
  width: 100%;
}

.currentScoreText {
  font-size: 20px;
}

.totalScoreText {
  font-size: 26px;
  font-weight: bold;
}

.player1-curScore, .player2-curScore {
  font-size: 36px;
}

.player1-totalScore, .player2-totalScore {
  font-size: 42px;
  font-weight: bold;
}

.btn-default {
  background-color: #e0e0e0;
}

.playersTurnAnimationP1{
  display: none;
  padding-top: 110px;
  font-size: 45px;
  width: 30%;
  text-align: center;
  min-height: 300px;
  margin-left: 400px;
  margin-top: -300px;
  padding: 20px
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(191, 191, 191, 0.85);
}


.playersTurnAnimationP2{
  display: none;
  padding-top: 110px;
  font-size: 45px;
  width: 30%;
  text-align: center;
  min-height: 300px;
  margin-left: 400px;
  margin-top: -300px;
  padding: 20px
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(191, 191, 191, 0.85);
}
