body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

li {
  line-height: 30px;
}

input {
  margin-left: 10px;
}

hr{
  border-color: black;
}

.form-group {
  padding-right: 50px;
}

.startGame {
    margin: 0;
    background-color: transparent;
    text-align: center;
    margin-top: 25px;
}

/* Buttons
================*/

.btn-primary, .btn-default {
  width: 100%;
}

.btn-default {
  background-color: #e0e0e0;
}


/* Game Styles
=======================*/

.pigDiceGame {
  display: none;
  background-color: #f1f1f1;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 250px;
}

.playerHeader {
  font-size: 32px;
}

.currentScoreText {
  font-size: 20px;
}

.totalScoreText {
  font-size: 26px;
  font-weight: bold;
}

.player1-curScore, .player2-curScore {
  font-size: 36px;
}

.player1-totalScore, .player2-totalScore {
  font-size: 42px;
  font-weight: bold;
}



/* Animations between turns
======================*/

.playersTurnAnimationP1{
  display: none;
  padding-top: 110px;
  font-size: 45px;
  width: 30%;
  text-align: center;
  min-height: 300px;
  margin-left: 400px;
  margin-top: -300px;
  padding: 20px
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(191, 191, 191, 0.85);
}


.playersTurnAnimationP2{
  display: none;
  padding-top: 110px;
  font-size: 45px;
  width: 30%;
  text-align: center;
  min-height: 300px;
  margin-left: 400px;
  margin-top: -300px;
  padding: 20px
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(191, 191, 191, 0.85);
}
